:root {
  --brightpurple: #e51ca5;
  --mutegrey: #877e85;
  --darkpurple: #5e2247;
  --pink: #e9beca;
  --greengrey: #b5c4c5;
  --lavender: #adacbe;
  --mediumgrey: #494f55;
  --brown: #6b4e22;
  --plum: #724f67;
  --burntorange: #f1a251;

}







body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--mediumgrey);
}

textarea {
  background: transparent;
  background-color: var(--mutegrey);
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--lavender);
  color: var(--mediumgrey);
  border-radius: 0;
  border-bottom: 10px solid var(--burntorange);
}

/* .lockIcon {
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  min-width: 75px;
} */



.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--mediumgrey);
}



.past {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: var(--greengrey);
  border-top:var(--mediumgrey) ;
  border-width: 2px solid var(--mediumgrey);
  color: var(--mediumgrey);
  text-decoration: line-through;
  font-size: 16px;
}

.present {
  background-color: var(--mutegrey);
  color: white;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border-top: white ;
  border-width: 2px solid white;
  font-size: 25px;
}

.future {
  background-color: var(--plum);
  color: white;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border-top: white ;
  border-width: 2px solid white;
  font-size: 16px;
}

/* .appt {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: lightgray;

  border-top: white ;
  border-width: 2px solid white;
} */

.hour {
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;

  min-width: 75px;
  background-color: var(--mediumgrey);
  color: var(--greengrey);
  border-top: 1px dashed #000000;
}

.buttonStyle{
  border-left: 1px solid var(--mediumgrey);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--darkpurple);
  color: var(--greengrey);
  padding-top: 30px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
}

#clearBtn{
  border: 0px;
  border-radius: 15px;
  background-color: var(--dark);
  color: white;
  align-items: center;
  text-align: center;
  padding: 10px;
}

/* .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  
} */
.buttonStyle:hover {
  background-color: var(--burntorange);
  color: grey;
  
}

#clearBtn:hover {
  background-color:var(--burntorange);
  color: #36d4fc;
} 

/* time containers */
.container {
  align-items: center;
  justify-content: center;

  /* min-width: 450px;
  max-width: 600px; */
  
}